:root {
    --red: #A30303;
    --link-red: #730303;
    --bold-green: #037303;
}

article {
    background: var(--primary-bg);
    /* box-shadow: inset 0px 0px 10px 10px var(--secondary-bg); */
    padding: 1rem;
}

nav {
    background: var(--primary-bg);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none !important;
    margin: 0 2rem;
}

header {
    min-height: 20rem;
    padding: 1rem;
    text-align: center;
}

header a {
    text-decoration: none !important;
}

/* Page-specific header styles. This includes image and contrasting text. */

#map-page header {
    background: #000000;
    background-image: url("/resources/shustoke-barn-ceremony-room.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map-page header h1, #map-page header h2, #map-page header p {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000) drop-shadow(0 0 4px #000000);
}

#map-page header a {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000);
}

#gifts-page header {
    background: #000000;
    background-image: url("/resources/brum-market.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gifts-page header h1 {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 3px #000000) drop-shadow(0 0 3px #000000) drop-shadow(0 0 3px #000000);
}

#gifts-page header h2, #gifts-page header p {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000) drop-shadow(0 0 4px #000000);
}

#gifts-page header a {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000);
}

.red-button       {
    background-color: var(--red);
}

input.red-button:focus, input.red-button:hover             {
    background-color: #5C0303 !important;
    border: 1px solid #AF5E56 !important;
    outline: 1px #AF5E56 !important;
}

/* Content styling follows */

article a {
    color: var(--link-red) !important;
}

article strong {
    color: var(--bold-green);
}

#map-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#map-details {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 20rem;
}

#map-container {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#map-container iframe {
    position: absolute;
    tttop: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
