:root {
    --red: #A30303;
    --link-red: #730303;
    --bold-green: #037303;
}

article {
    background: var(--primary-bg);
    /* box-shadow: inset 0px 0px 10px 10px var(--secondary-bg); */
    padding: 1rem;
}

nav {
    background: var(--primary-bg);
    padding: 1rem;
    display: flex;
    /*justify-content: stretch;*/
    flex-wrap: wrap;
}

nav a {
    color: var(--link-red) !important;
    text-decoration: none !important;
    text-transform: uppercase;
    margin: 0 2rem;
    flex: 1 1 0px;
}

header {
    min-height: 25rem;
    padding: 1rem;
    text-align: center;
}

header a {
    text-decoration: none !important;
}

header h2 {
    padding-top: 3.5em;
}

/* Page-specific header styles. This includes image and contrasting text. */

#index-page header {
    background: #000000;
    background-image: url("/resources/EDL.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#index-page header h1, #index-page header h2, #index-page header p {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 2px #000000) drop-shadow(0 0 2px #000000);
}

#index-page header a {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 1px #000000);
}

#schedule-page header {
    background: #000000;
    background-image: url("/resources/table2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#schedule-page header h1, #schedule-page header h2, #schedule-page header p {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000) drop-shadow(0 0 4px #000000);
}

#schedule-page header a {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000);
}

#map-page header {
    background: #000000;
    background-image: url("/resources/shustoke-barn-ceremony-room.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map-page header h1, #map-page header h2, #map-page header p {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000) drop-shadow(0 0 4px #000000);
}

#map-page header a {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000);
}

#gifts-page header {
    background: #000000;
    background-image: url("/resources/doge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gifts-page header h1, #gifts-page header h2, #gifts-page header p {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 2px #000000) /*drop-shadow(0 0 4px #000000)*/;
}

#gifts-page header a {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 2px #000000);
}

#accommodation-page header {
    background: #000000;
    background-image: url("/resources/brum-market.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#accommodation-page header h1 {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 3px #000000) drop-shadow(0 0 3px #000000) drop-shadow(0 0 3px #000000);
}

#accommodation-page header h2, #accommodation-page header p {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000) drop-shadow(0 0 4px #000000);
}

#accommodation-page header a {
    color: #FFFFFF !important;
    filter: drop-shadow(0 0 4px #000000);
}

.red-button       {
    background-color: var(--red);
}

input.red-button:focus, input.red-button:hover             {
    background-color: #5C0303 !important;
    border: 1px solid #AF5E56 !important;
    outline: 1px #AF5E56 !important;
}

/* Content styling follows */

article a {
    color: var(--link-red) !important;
}

article strong, article h2, article h3 {
    color: var(--bold-green);
}

/* Schedule styles */

#schedule {
    list-style: none;
}

#schedule tr time {
    color: var(--bold-green);
    font-weight: bold;
}

#schedule tr {
    /*display: flex;*/
    border-left: 0.5em groove var(--bold-green);
}

#schedule li p {
    margin: auto 0;
}

.mins30 {
    height: 3rem;
}

.mins60 {
    height: 4rem;
}

.mins90 {
    height: 4.66rem;
}

.mins120 {
    height: 5.33rem;
}

#schedule .time-cell {
    width: 5em;
}

#schedule .gap {
    height: 3rem;
    border-image:
        linear-gradient(
            to bottom,
            var(--bold-green),
            rgba(255, 255, 255, 0)
        ) 1 100%;
}

#schedule .start {
    height: 3rem;
    border-left: 0.5em groove var(--bold-green);
    border-image: linear-gradient(
        to bottom,
        rgba(3,163,3,0) 0%,
        rgba(3,163,3,0) 50%,
        rgba(3,163,3,1) 50%,
        rgba(3,163,3,1) 100%
    );
    border-image-slice: 1;
}

#schedule .end {
    margin-left: 0.5em;
    height: 3rem;
}

#schedule .bullet {
    filter:
        drop-shadow(0 0 2px #FFFFFF)
        drop-shadow(0 0 2px #FFFFFF)
        drop-shadow(0 0 2px #FFFFFF);
    font-size: 1.33em;
    /*margin-left: -0.2em;*/
    width: 1em;
}

#schedule time {
    padding-left: 0.5em;
}

/* Map styles */

#map-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#map-details {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 20rem;
}

#map-container {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#map-container iframe {
    position: absolute;
    tttop: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map-details address {
    font-weight: bold;
}
